.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    background: thistle;
    margin: 20px 0;
}
.skill span {
    width: 200px;
    padding: 15px;
}
.icon {
    height: 60px;
    width: 60px;
    background: goldenrod;
}