.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 350px;
    background: thistle;
    margin: 20px 0;
}
.skill span {
    width: 200px;
    padding: 15px;
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background: goldenrod;
}
.btn {
    padding: 10px 20px;
}
.description {
    padding-bottom: 15px;
}